<section class="welcome-section">
  <h1>¡Bienvenidos!</h1>
  <p>Este sitio alberga una colección de aplicaciones diseñadas con un enfoque en salud y accesibilidad. </p>
  <p>Creemos en la tecnología accesible para todos. Nuestras aplicaciones están diseñadas para ser simples, inclusivas y libres de barreras, pensadas especialmente para adultos mayores, niños y personas con poca experiencia tecnológica. <a [routerLink]="['/mision']">Descubre más sobre nuestra misión</a>.</p>
  <h2>¿Qué ofrecen nuestras aplicaciones?</h2>
  <ul class="features-list">
    <li><strong>Diseño inclusivo:</strong> Pensadas para adultos mayores y niños, con interfaces simples y fáciles de entender.</li>
    <li><strong>Accesibilidad garantizada:</strong> Cumplen con los estándares de accesibilidad más recientes.</li>
    <li><strong>Multiplataforma:</strong> Funcionan en PC (Windows/Linux) y como aplicaciones móviles.</li>
    <li><strong>Multilenguaje:</strong> Soporte para varios idiomas desde el inicio.</li>
    <li><strong>Ligeras y eficientes:</strong> Utilizan tecnologías web modernas para un rendimiento óptimo.</li>
    <li><strong>Libres de publicidad:</strong> Sin anuncios ni distracciones.</li>
    <li><strong>Probadas con usuarios reales:</strong> Cubren casos de uso cotidianos.</li>
    <li><strong>Desarrollo continuo:</strong> Mejoras y actualizaciones constantes.</li>
  </ul>

  <!-- <h2>Misión</h2>
  <p>Creemos que muchas aplicaciones se centran en usuarios jóvenes y familiarizados con la tecnología. Nuestra misión es crear herramientas accesibles para personas con poca experiencia tecnológica, problemas de visión o que buscan soluciones simples y fáciles de usar.</p>
 -->
<!--   <h2>Objetivo</h2>
  <p>Nuestro objetivo es romper las barreras digitales, ofreciendo aplicaciones que sean accesibles para todos, sin importar su edad o nivel de experiencia tecnológica. Queremos marcar la diferencia en la vida de quienes suelen ser ignorados por el mundo tecnológico actual.</p>
 -->
  <p class="highlight">¡Explora nuestras soluciones y descubre cómo pueden ayudarte a ti o a tu organización! .</p>
</section>

<section class="apps-section">
  <div class="container">
    <h2 class="text-center mt-1 mb-4">Nuestras Aplicaciones</h2>

    <div class="row g-4">
      <!-- MiniCog Card -->
      <div class="col-md-4">
        <div class="card h-10rem">
          <img src=" /assets/images/minicog.png" class="card-img-top" alt="MiniCog App">
          <div class="card-body">
            <h3 class="card-title">MiniCog</h3>
            <div class="description-container">
            <div class="tech-stack mb-2">
              <i class="bi bi-filetype-tsx" title="Ionic + TypeScript"></i>
              <i class="fas fa-mobile-alt" title="Progressive Web App (PWA)"></i>
              <i class="bi bi-database" title="SQLite"></i>
              <i class="fab fa-ionic" title="Ionic"></i>
              <i class="fab fa-google-play" title="Google Play Store"></i>
              <i class="fab fa-angular" title="Angular"></i>

            </div>

            <p class="card-description">Herramienta de detección temprana de demencia. Prueba rápida y eficaz para evaluación cognitiva.</p>
            <ul class="features-list">
              <li>Interfaz intuitiva</li>
              <li>Evaluación en 3 minutos</li>
              <li>Guia paso a paso, multi idioma</li>
              <li>Voz a texto</li>
              <li>Validado clínicamente</li>
              <li>Historial de consultas</li>
            </ul>
          </div>
            <div>
              <div class="button-group">
                <a href="/apps/afk" class="btn btn-outline-primary btn-see">Ver más</a>
                <a   href="https://github.com/jualon92/miniCog-ionic" target="_blank" class="btn btn-outline-secondary">
                  <i class="fab fa-github  "></i> GitHub
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>

     <!-- Radio Simple -->
     <div class="col-md-4">
      <div class="card h-100">
        <img src="assets/images/simpleradio.png" class="card-img-top" alt="Radio Simple App">
        <div class="card-body">
          <h3 class="card-title">Radio Simple</h3>
          <div class="description-container">
            <div class="tech-stack mb-2">
            <i class="bi bi-filetype-tsx" title="Ionic + TypeScript"></i>
            <i class="fas fa-mobile-alt" title="Progressive Web App (PWA)"></i>
        <!--     <i class="fas fa-cogs" title="Service Worker"></i> -->
            <i class="fab fa-google-play" title="Google Play Store"></i>
            <i class="fab fa-angular" title="Angular"></i>
          </div>
          <p class="card-description">Radio online simplificada pensada para adultos mayores. Fácil de usar, sin complicaciones.</p>
          <ul class="features-list">
            <li>Interfaz simplificada, sin extras ni vueltas</li>
            <li>Enfoque en accesibilidad </li>
            <li>Perfecta para personas que acostumbran usar celular</li>

            <li>Enfocado en cubrir las demandas dia a dia de usuarios reales</li>
          </ul>
        </div>
        <div class="button-group">
          <a href="/apps/afk" class="btn btn-outline-primary btn-see">Ver más</a>
          <a   href="https://github.com/jualon92/simple-radio"  target="_blank" class="btn btn-outline-secondary">
            <i class="fab fa-github  "></i> GitHub
          </a>
        </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card h-100">
        <img src=" /assets/images/antiafk.png" class="card-img-top"     alt="Anti AFK App">
        <div class="card-body">
          <h3 class="card-title">Anti AFK</h3>
          <div class="description-container mb-2 ">
            <div class="tech-stack mb-2">
            <i class="bi bi-filetype-tsx" title="TypeScript"></i>
            <i class="fas fa-cogs" title="Tauri"></i>
            <i class="fab fa-rust" title="Rust"></i>

            <i class="fab fa-angular" title="Angular"></i>
          </div>
          <p class="card-description">Herramienta multi plataforma para prevenir el apagado de monitores y mantener la sesión activa. </p>
          <ul class="features-list">
            <li>Mantiene sesion activa </li>
            <li>No interfiere a usuario, discreto</li>
            <li>Interfaz gráfica minimalista</li>
            <li>Horarios personalizables</li>
            <li>Ligero y eficiente</li>

          </ul>
        </div>
        <div class="button-group">
          <a href="/apps/afk" class="btn btn-outline-primary btn-see">Ver más</a>
          <a   href="https://github.com/jualon92/simpleAntiAfk" target="_blank" class="btn btn-outline-secondary">
            <i class="fab fa-github  "></i> GitHub
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>




<section class="services-section">
  <div class="container">
    <h2 class="text-center mt-5 mb-4">¿Qué Ofrecemos?</h2>
    <div class="row g-4">
      <!-- Integración de Sistemas -->
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h3>Integración de Sistemas</h3>
            <p>Conectamos y optimizamos sus sistemas existentes para mayor eficiencia operativa.</p>
          </div>
        </div>
      </div>

      <!-- Software a Medida -->
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h3>Software a Medida</h3>
            <p>Desarrollamos soluciones personalizadas adaptadas a sus necesidades específicas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="py-4"></div>
