<div class="wrapper d-flex justify-content-center mt-4 container"> 
  <section class="welcome-section">
    <h1>Welcome!</h1>
    <p>This site hosts a collection of applications designed with a focus on health, ease of use, and accessibility.</p>
    <p>These applications are designed to be simple, inclusive, and barrier-free, especially designed for seniors, children, and people with limited technological experience. <a [routerLink]="['/mision']">Learn more about our mission</a>.</p>
  
    <div class="row gy-4 py-3">
      <!-- Card 1: Inclusive Design -->
      <div class="col-md-3">
        <div class="card pros-card">
          <div class="card-body">
            <i class="fas fa-users fa-3x mb-3"></i>
            <h5 class="card-title">Inclusive Design</h5>
            <p class="card-text">Designed for seniors and children, with simple and easy-to-understand interfaces.</p>
          </div>
        </div>
      </div>
    
      <!-- Card 2: Guaranteed Accessibility -->
      <div class="col-md-3">
        <div class="card pros-card">
          <div class="card-body">
            <i class="fas fa-universal-access fa-3x mb-3"></i>
            <h5 class="card-title">Guaranteed Accessibility</h5>
            <p class="card-text">Compliant with the latest accessibility standards.</p>
          </div>
        </div>
      </div>
    
      <!-- Card 3: Cross-platform -->
      <div class="col-md-3">
        <div class="card pros-card">
          <div class="card-body">
            <i class="fas fa-desktop fa-3x mb-3"></i>
            <h5 class="card-title">Cross-platform</h5>
            <p class="card-text">Works on PC (Windows/Linux) and as mobile applications.</p>
          </div>
        </div>
      </div>
    
      <!-- Card 4: Multi-language -->
      <div class="col-md-3">
        <div class="card pros-card">
          <div class="card-body">
            <i class="fas fa-language fa-3x mb-3"></i>
            <h5 class="card-title">Multi-language</h5>
            <p class="card-text">Support for multiple languages from the start.</p>
          </div>
        </div>
      </div>
    
      <!-- Card 5: Light and Efficient -->
      <div class="col-md-3">
        <div class="card pros-card">
          <div class="card-body">
            <i class="fas fa-bolt fa-3x mb-3"></i>
            <h5 class="card-title">Light and Efficient</h5>
            <p class="card-text">Using modern web technologies for optimal performance.</p>
          </div>
        </div>
      </div>
    
      <!-- Card 6: Ad-free -->
      <div class="col-md-3">
        <div class="card pros-card">
          <div class="card-body">
            <i class="fas fa-ad fa-3x mb-3"></i>
            <h5 class="card-title">Ad-free</h5>
            <p class="card-text">No ads or distractions.</p>
          </div>
        </div>
      </div>
    
      <!-- Card 7: Tested with Real Users -->
      <div class="col-md-3">
        <div class="card pros-card">
          <div class="card-body">
            <i class="fas fa-user-check fa-3x mb-3"></i>
            <h5 class="card-title">Tested with Real Users</h5>
            <p class="card-text">Covers everyday use cases.</p>
          </div>
        </div>
      </div>
    
      <!-- Card 8: Continuous Development -->
      <div class="col-md-3">
        <div class="card pros-card">
          <div class="card-body">
            <i class="fas fa-sync fa-3x mb-3"></i>
            <h5 class="card-title">Continuous Development</h5>
            <p class="card-text">Constant improvements and updates.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>


  <section class="apps-section">
    <div class="container">
      <h2 class="text-center mt-1 mb-3 mt-2">Our Applications</h2>
  
      <div class="row g-4 pt-2 justify-content-around">
        <!-- MiniCog Card -->
        <div class="col-md-4">
          <div class="card h-10rem">
            <img src="assets/images/minicog.png" class="card-img-top" alt="MiniCog App">
            <div class="card-body">
              <h3 class="card-title">MiniCog</h3>
              <div class="description-container">
                <div class="tech-stack mb-2">
                  <i class="bi bi-filetype-tsx" title="Ionic + TypeScript"></i>
                  <i class="fas fa-mobile-alt" title="Progressive Web App (PWA)"></i>
                  <i class="bi bi-database" title="SQLite"></i>
                  <i class="fab fa-ionic" title="Ionic"></i>
                  <i class="fab fa-google-play" title="Google Play Store"></i>
                  <i class="fab fa-angular" title="Angular"></i>
                </div>
  
                <p class="card-description">Early dementia detection tool. Quick and effective cognitive assessment test.</p>
                <ul class="features-list">
                  <li>Intuitive interface</li>
                  <li>3-minute evaluation</li>
                  <li>Step-by-step guide, multi-language</li>
                  <li>Voice to text</li>
                  <li>Clinically validated</li>
                  <li>Consultation history</li>
                </ul>
              </div>
              <div>
                <div class="button-group">
                  <a href="/apps/afk" class="btn btn-outline-primary btn-see">Learn More</a>
                  <a href="https://github.com/jualon92/miniCog-ionic" target="_blank" class="btn btn-outline-secondary">
                    <i class="fab fa-github"></i> GitHub
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Simple Radio -->
        <div class="col-md-4">
          <div class="card h-100">
            <img src="assets/images/radioplay.png" class="card-img-top" alt="Simple Radio App">
            <div class="card-body">
              <h3 class="card-title">Simple Radio</h3>
              <div class="description-container">
                <div class="tech-stack mb-2">
                  <i class="bi bi-filetype-tsx" title="Ionic + TypeScript"></i>
                  <i class="fas fa-mobile-alt" title="Progressive Web App (PWA)"></i>
                  <i class="fab fa-google-play" title="Google Play Store"></i>
                  <i class="fab fa-angular" title="Angular"></i>
                </div>
                <p class="card-description">Simplified online radio designed for ease of use.</p>
                <ul class="features-list">
                  <li>Simplified interface, no extras & ads</li>
                  <li>Avaiable as PWA or Native Android application</li>
                  <li>Perfect for mobile phone users</li>
                  <li>Developed with accessibility on mind</li>
                  <li>Focused on meeting real users' daily needs</li>
                  <li>Auto update</li>
                </ul>
              </div>
              <div class="button-group">
                <a href="/apps/radio" class="btn btn-outline-primary btn-see">Learn More</a>
                <a href="https://github.com/jualon92/simple-radio" target="_blank" class="btn btn-outline-secondary">
                  <i class="fab fa-github"></i> GitHub
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>






<section class="services-section">
  <div class="container">
    <h2 class="text-center mt-4 mb-4">What We Offer</h2>
    <div class="row g-4">
      <!-- Systems Integration -->
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h3>Systems Integration</h3>
            <p>We connect and optimize your existing systems for greater operational efficiency.</p>
          </div>
        </div>
      </div>

      <!-- Custom Software -->
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h3>Custom Software</h3>
            <p>We develop customized solutions tailored to your specific needs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="py-4"></div>
